$mainColor: #a6808c;
$secondaryColor: #ccb7ae;
$thirdColor: #706677;
$blackColor: #000000;
$paddingTop: 1rem;
$fontSmall: 18px;
$fontNadpisy: 26px;
$fontMedium: 36px;
$marginTop: 2rem;
$padding-bottom: 2rem;

@mixin mainSetting {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@mixin mainGrid {
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
  grid-template-rows: 15vh 1fr 1fr 1fr 8vh;
}

@mixin rozvrzeniGrid {
  grid-column: 2 / span 3;
}

body {
  @include mainGrid();
  @include mainSetting();
}
.nav {
  grid-column: 2 / span 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8vh;

  align-self: start;
}

.nav__logo {
  color: $mainColor;
  font-weight: 900;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  font-size: $fontMedium;
  padding-top: $paddingTop;
}

.nav__links {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-self: center;
  padding-top: $paddingTop;
}

.links {
  font-size: $fontSmall;
  transition: 0.5s;
  &__link:hover {
    color: $secondaryColor;
  }
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 1.7rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.4rem;
  transition: all 0.3s ease;
}
@media (max-width: 670px) {
  .nav__links {
    flex-direction: column;
    width: 50%;
    position: absolute;
    right: -2.3rem;
    height: 92vh;
    top: 8vh;
    background-color: $mainColor;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 1s ease-in;
    z-index: 10;
  }

  .links__link {
    padding-top: $paddingTop;
    &:hover {
      transform: translateY(-0.3rem);
    }
  }

  .burger {
    display: block;
    color: black;
    padding-top: $paddingTop;

    z-index: 5;
  }
}

.nav__active {
  transform: translateX(0%);
}

.hlavicka {
  @include rozvrzeniGrid();
  grid-row: 2;
  display: grid;
  place-items: start, start;
}

.hlavicka h1 {
  font-size: $fontNadpisy;
  align-self: center;
  margin-top: $paddingTop;
}

.hlavicka__podnadpis {
  font-size: $fontSmall;
  align-self: start;
}

.hlavni {
  grid-row: 3;
  @include rozvrzeniGrid();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
}
.hlavni__text--img {
  display: grid;
  width: 100%;
  max-width: 400px;
}

.hlavni__text--about {
  padding-bottom: $padding-bottom;
}

.paticka {
  height: 8vh;
  grid-column: 1/-1;
  grid-row: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paticka--cerna {
  background-color: black;
  color: white;
}

.kontakt {
  padding-bottom: 2rem;
  grid-column: 2;
  grid-row: 4;
  place-self: end center;
}
